<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Floom</h1>

	<p>
    Floom was built by <a target="_blank" href="https://github.com/kthomz34">Kurt</a> A web developer who is on a mission to learn the technical skills needed to launch his own ideas and into reality.
  </p>
  <br />
  <p>
    Might not be learning the skills for world domination, but close to it. Jokes aside, he is just looking forward to learning how to code.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'kurt.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Kurt Thomas</h2>
    <br />
    <p>
      Kurt is guy learning skills to pay the bills, well actually more than just pay bills.  He wants to start his own company, but just doesn't know what yet.  Aside from that, he loves just playing the latest video game. Oh and yes that apple was delicious...
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />